/* Add CSS for the footer */
.footer {
  background: linear-gradient(45deg, #ff7300, #febd00);
  color: #fff;
  padding: 5px 0;
}

.footer p {
  margin-bottom: 10px;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}
